<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../../assets/stylesheets/form.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <title>Web Development</title>
</head>


<body>


<div class = "form">
  <h1><b>Analytics</b></h1><br>
    <p>Our Analytics package includes ongoing metrics of customer click-through and conversion on web sales and advertisements. Our metrics are delivered in a crystal-clear visual package that makes it easy for you know exactly what's working, and what isn't. This allows us to adjust search engine optimization strategies, and you to adjust your advertising content to reach more customers.</p><br>
<h2>Starting at</h2> <h3>$20/month</h3><br><br>
  <h2>Send us a brief description of what you are looking for:</h2>
<form action="mailto:someone@example.com" method="post" enctype="text/plain">
Name:<br>
<input type="text" name="name"><br><br>
E-mail:<br>
<input type="text" name="mail"><br><br>
What Are You Looking For?<br>
<textarea rows="4" name="comment" id="description"></textarea><br><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
</form>
</div>

<div class = "home">
  <a href=../../../index.html>
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
</div>

</body>
</html>
