<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../assets/stylesheets/whoweare.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Who We Are</title>
  </head>

<!-- BODY -->

  <body>
<div class = "header">
<h1>Who We Are</h1>
</div>

<div class = "flexbox">
  <div class = "imgcontainer">
    <img src = "../../assets/images/cropped1.jpg"></img>
  </div>
</div>

  </body>


</html>
