<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/stylesheets/whitestyle.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/javascripts/zenscroll-latest/zenscroll.js"></script>
<script type="text/javascript" src="../../assets/javascripts/zenscroll-latest/zenscroll-min.js"></script>
<script src="jquery-3.2.1.min.js"></script>
<script>$(document).ready(function(){$("body").hide().fadeIn(1000);});</script>
</head>



<body>
<a name = "header"></a>
<header>
<div class = "header_container" id = "header">
  <div class = "container">
    <div class = "navbar">
      <a href="#whatwedo">WHAT WE DO</a>
     <a href="#branding">BRANDING</a>
     <a href="#metrics">METRICS</a>
     <a href="#packages">PACKAGES</a>
    </div>
    <div class = "logo">
      <img src = "../../assets/images/logo.png">
    </div>
  </div>

<div class = "container">
  <div class = "quote">
    <i class="fa fa-quote-left" aria-hidden="true"></i>
    Supplying best-in-class web development and digital marketing for small businesses
  </div>
</div>

  <div class = "container">
  <div class = "CTA">
    <a href="#packages">
    Get Started
  </a>
  </div>
</div>
</div>
</header>


<!-- Icons -->
</article>
  <div class = "flexbox" id = "icons">
      <div class = "flexbox" id = "icon">
        <i class="fa fa-pied-piper fa-5x fa-fw" aria-hidden="true"></i><br>
        BUILD YOUR BRAND
      </div>

      <div class = "flexbox" id = "icon">
      <i class="fa fa-line-chart fa-5x fa-fw" aria-hidden="true"></i><br>
      TRACK YOUR GROWTH
    </div>

      <div class = "flexbox" id = "icon">
      <i class="fa fa-telegram fa-5x fa-fw" aria-hidden="true"></i><br>
      BOOST YOUR ADVERTISING
      </div>
  </div>
  <article>

<!-- Explainers -->
<article>

  <a name = "whatwedo" id = "whatwedo"></a>
    <div id = "article" class = "flexbox">
        <div id = "article" class = "imgcontainer">
          <img src="../../assets/images/handshake.png">
        </div>
        <div id = "article" class = "container">
          <h1>
            What We Do
          </h1>
        We are a small digital consulting company focused on helping small business develop a stronger brand  that resonates with their customer and helps drive business, and push their business through digital marketing and search engine optimization. As a small company, we work one-on-one with customers to make sure we get them exactly where they are trying to go. Everyone has a unique brand; we want to bring that out.
        </div>
    </div>
</article>

<article>
  <a name = "branding" id="branding"></a>
    <div id = "article" class = "flexbox">
        <div id = "article" class = "container">
          <h1>
          Branding
          </h1>
          Branding is important and this is why bitch listen. Aliquam auctor urna sit amet tempus vestibulum. Vestibulum faucibus metus rhoncus nibh sollicitudin pretium. Integer ante urna, pellentesque non eleifend et, varius non massa. Duis ac vulputate massa. Vestibulum metus tellus, ultrices eget dapibus vel, dapibus et felis. Pellentesque ut scelerisque dolor. Praesent ac imperdiet dolor. Aenean at sodales sem. Maecenas porta pharetra turpis nec faucibus. Praesent volutpat convallis nunc eu volutpat.
        </div>
        <div id = "article" class = "imgcontainer">
          <img src="../../assets/images/paintbrush.png">
        </div>
    </div>
</article>

<article>
  <a name = "metrics" id="metrics"></a>
    <div id = "article" class = "flexbox">
        <div id = "article" class = "imgcontainer">
          <img src="../../assets/images/graph.png">
        </div>
        <div id = "article" class = "container">
          <h1>
          Analytics and Metrics
          </h1>
          Analytics is important and this is why bitch listen. Aliquam auctor urna sit amet tempus vestibulum. Vestibulum faucibus metus rhoncus nibh sollicitudin pretium. Integer ante urna, pellentesque non eleifend et, varius non massa. Duis ac vulputate massa. Vestibulum metus tellus, ultrices eget dapibus vel, dapibus et felis. Pellentesque ut scelerisque dolor. Praesent ac imperdiet dolor. Aenean at sodales sem. Maecenas porta pharetra turpis nec faucibus. Praesent volutpat convallis nunc eu volutpat.
        </div>

    </div>
</article>

<!-- Packages -->
<article>
  <a name = "packages"></a>
      <div id = "packages" class = "flexbox">
          <div id = "package" class = "flexbox">
            <div id = "flexchild"><b>WEB DEVELOPMENT<br></b></div>
            <div id = "flexchild">
              <p style = "font-size: .5em">Design and development of website and branding elements including logo, color scheme, and other visual elements </p>
            </div>
              <div id = "flexchild">Starting at <h2>$299</h2></div>
            <div id = "flexchild"><a>Request a Quote</a></div>
          </div>
          <div id = "package" class = "flexbox">
            <div id = "flexchild"><b>DIGITAL MARKETING</b></div>
            <div id = "flexchild">
                  <p style = "font-size: .5em">Search engine optimization and social media marketing catered to your target market</p>
              </div>
              <div id = "flexchild">Starting at <h2>$199</h2></div>
          <div id = "flexchild"><a>Request a Quote</a></div>
          </div>
          <div id = "package" class = "flexbox">
            <div id = "flexchild"><b>ANALYTICS<br></b></div>
            <div id = "flexchild">
                  <p style = "font-size: .5em">Ongoing data collection and analytics on branding and marketing performance</p>
            </div>
            <div id = "flexchild">Starting at <h2>$19/mo</h2></div>
              <div id = "flexchild"><a>Request a Quote</a></div>
          </div>
      </div>
</article>

<div class = "footer">
<br><br><i class="fa fa-copyright" aria-hidden="true"></i>2017 Ben Dibuz and Florian Houenou
</div>

<div class = "home">
  <a href="#header">
  <i class="fa fa-home" aria-hidden="true"></i>
</a>
</div>



</body>
</html>
